
<div class="columns" style="height: 100%">
    <div class="column is-two-fifths" style="padding: 0;">
        <a href="/Pages/homepage.html" onclick="localStorage.clear()" class="title link" style="letter-spacing: -1px; font: 40px 'Neue Montreal'; font-weight: bold;
    display: flex; justify-content: center;  margin-bottom: 0;">F&Umacr;LR</a>
    </div>

    <div class="column" style="margin-right:100px;">
        <nav id="main-nav" data-target="navItem" class="navbar" role="navigation" aria-label="main navigation"
             style="height: 100%; min-height: 100%;">
            <div class="navbar-menu is-spaced" style="justify-content: space-evenly">
                <a href="">ABOUT</a>
                <a href="">LOGIN</a>
                <a href="">REGISTER</a>
            </div>
        </nav>
    </div>
</div>