
<a href="/COSC4353-Fuel-Quote-App/Client/Pages/homepage.html" onclick="localStorage.clear()" class="title link" style="letter-spacing: -1px; font: 40px 'Neue Montreal'; font-weight: bold;">F&Umacr;LR</a>

<nav id="main-nav" class="navbar" role="navigation" aria-label="main navigation">
    <a href="">ABOUT</a>
    <a href="/COSC4353-Fuel-Quote-App/Client/Pages/FuelQuote/quote.html">GET A QUOTE</a>
    <div id="loginRegister">
        <a href="">LOGIN</a>
        <span class="spacer">|</span>
        <a href="">REGISTER</a>
    </div>
</nav>
