html {
    background-color: #1F1E25;
    color: white;
}
html, body {
    height: 100%;
}
body {
    font-family: "Avenir Next LT Pro" !important;
}
.homepage {
    margin: 0;
}
body, .title {
    color: inherit;
    background-color: inherit;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('Fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('Fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('Fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('Fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.title, .section-title {
    font-family: "Neue Montreal";
    font-weight: bold;
    margin-bottom: 0;
}

.section-title {
    font-size: 15pt;
    margin-bottom: 10px;
}

.page-title {
    margin: 20px 0;
    font-size: 25pt;
}

.section {
    padding: 0;
}
.section:not(:last-of-type) {
    margin-bottom: 10px;
}

.section > :not(.section-title) {
    margin-bottom: 4px;
}
.section .editable {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

a {
    color: inherit;
    transition: color 0.15s linear;
    text-decoration: none;
}
a:hover {
    color: #9b9b9b;
}


.cover {
    display: flex;
    backdrop-filter: blur(10px) brightness(90%);
    position: absolute;
    top: 29%;
    left: 0;
    right: 0;
    width: 600px;
    height: 350px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 665px;
    justify-content: space-between;
    flex-grow: 1;
}
.vertical-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    font-size: 15pt;
    text-align: center;
}
.cover-title {
    font-size: 70pt;
    margin-bottom: 0 !important;
}
.container {
    width: 800px;
    margin: auto;
}
.container.small, .section.small {
    width: 500px;
    margin: auto;
}

.spacer {
    margin: 0 10px;
}

#header {
    height: 40px;
    width: 1250px;
    margin: auto;
    padding: 10px 0;
    background-color: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

#header .title.link {
    position: relative;
}

#slideshow {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.profilePic {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.profileName {
    font-size: 20pt;
}

.indent {
    margin-left: 135px;
}
.indent-small {
    margin-left: 50px;
}

[contenteditable="true"]:focus {
    border-bottom: white 2px solid;
}
.data-field, .edit-field {
    display: flex;
    justify-content: space-between;
}

.edit-field > span {
    width: 75px;
}
.edit-field > div {
    width: 200px;
}
.data-field > div {
    width: 306px;
    padding: 3px;
}

.edit-field div:first-of-type {
    border-bottom: transparent 2px solid;
    padding: 3px;
}

.edit-field [contenteditable="true"],
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border-bottom: none;
    outline:none;
    background: #423c3c;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-increment-field {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input-field,
.number-input-field * {
    box-sizing: border-box;
}

.number-input-field button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input-field button:before,
.number-input-field button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input-field button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input-field input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
}

.loggedInAs {
    position: absolute;
    font-size: 10pt;
    top: 21%;
}

