/* Overarching, big items */
html {
    background-color: #1F1E25;
    color: white;
}
html, body {
    height: 100%;
}
body {
    font-family: "Avenir Next LT Pro" !important;
}
.homepage {
    margin: 0;
}

.container {
    width: 800px;
    margin: auto;
}
.container.small, .section.small {
    width: 500px;
    margin: auto;
}

.spacer {
    margin: 0 10px;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('Fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('Fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('Fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('Fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.title, .section-title {
    font-family: "Neue Montreal";
    font-weight: bold;
    margin-bottom: 0;
}
sup {
    font-size: 13pt;
}

a {
    color: inherit;
    transition: color 0.15s linear;
    text-decoration: none;
}
a:hover {
    color: #9b9b9b;
}

.indent {
    margin-left: 135px;
}
.indent-small {
    margin-left: 50px;
}
button {
    transition: background-color 0.15s linear,
    color 0.15s linear;
    cursor: pointer;
}

/* Page Titles, Page Selectors, Headers */

.page-title {
    margin: 20px 0;
    font-size: 25pt;
}
.page-title.inactive {
    color: #4f4f4f;
}
button.page-title {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
}
button.page-title:hover {
    color: white;
    background-color: transparent;
}

.page-selector {
    display: flex;
}
.page-selector .title.page-title:not(:first-child) {
    margin-left: 25px;
}

#header {
    height: 40px;
    width: 1250px;
    margin: auto;
    padding: 10px 0;
    background-color: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

#header .title.link {
    position: relative;
}

/* Sections */

.section {
    padding: 15px;
    position: relative;
}

.section-title {
    font-size: 15pt;
    margin: 0 0 13px 0;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-content > * {
    margin: 3px 0;
}

.section .editable {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.section.bold {
    background-color: #423c3c;
    border-radius: 8px;
}

.section.profile {
    margin: 0;
    display: flex;
    align-items: center;
}

.vertical-spacer {
    width: 100%;
    height: 50px;
}

/* Front Page */

.cover {
    display: flex;
    backdrop-filter: blur(10px) brightness(90%);
    position: absolute;
    top: 29%;
    left: 0;
    right: 0;
    width: 600px;
    height: 350px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    border: #dedede2b 3px solid;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 665px;
    justify-content: space-between;
    flex-grow: 1;
}
.vertical-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    font-size: 15pt;
    text-align: center;
}
.cover-title {
    font-size: 70pt;
    margin-bottom: 0 !important;
}

#slideshow {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* Profile Page, Data Fields, and Editable Fields */

.profilePic {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.profileName {
    font-size: 20pt;
}

[contenteditable="true"]:focus {
    border-bottom: white 2px solid;
}
.data-field, .edit {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.edit button:last-of-type {
    margin-left: auto;
    font-family: "Avenir Next LT Pro";
    background-color: transparent;
    border: #6a6a6a 1px solid;
    border-radius: 3px;
    color: white;
    padding: 6px 10px;
}

.nextPage {
    margin: 20px 0;
}

.nextPageButtonHolder button {
    margin-top: 20px;
    font-family: "Neue Montreal";
    background-color: #8390d5;
    border: none;
    border-radius: 8px;
    font-size: 16pt;
    padding: 8px 16px;
    color: white;

}

.nextPageButtonHolder {
    display: flex;
    justify-content: end;
}

.data-field > span {
    width: 150px;
}

.data-field > .text-input {
    width: 306px;
    padding: 3px;
}
.data-field.edit > .text-input {
    width: 200px;
    padding: 6px;
}

.data-field.edit div {
    border-bottom: transparent 2px solid;
    padding: 3px;
}

.number-incrementer.with-post-text {
    align-items: center;
}
.number-incrementer > .post-text {
    padding: 8px;
}

.data-field.edit [contenteditable="true"],
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border-bottom: none;
    outline:none;
    background: #423c3c;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none;
}

input {
    outline: none;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-incrementer {
    display: inline-flex;
}

.number-incrementer,
.number-incrementer * {
    box-sizing: border-box;
}

.number-incrementer button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: #6a6a6a 1px solid;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
    color: inherit;
}

.number-incrementer .increment-down {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.number-incrementer .increment-up {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.edit button:hover, .nextPageButtonHolder button:hover {
    background-color: #6a6a6a;
}

.number-incrementer input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border-top: #6a6a6a 1px solid;
    border-bottom: #6a6a6a 1px solid;
    background: transparent;
    font-size: 15pt;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    color: inherit;
}

.loggedInAs {
    position: absolute;
    font-size: 10pt;
    top: 28px;
    left: 17.8%;
}

/* Datepicker */

input#date {
    border: #6a6a6a 1px solid;
    background: transparent;
    color: white;
    border-radius: 3px;
    padding: 6px;
    width: 105px;
    font-size: 12pt;
    text-align: center;
    font-family: "Avenir Next LT Pro";
}

.ui-widget {
    font-family: "Avenir Next LT Pro";
    font-weight: bold;
}
.ui-datepicker th {
    padding: 0 .5rem;
}
.ui-datepicker {
    width: 15em;
    height: 203px;
    padding: 0;
    border: none;
    border-radius: 7px;
    color: #1F1E25;
}
.ui-widget-header {
    font-family: "Neue Montreal";
    border-bottom: #1F1E25 2px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    margin-bottom: 5px;
    background: none;
}
.ui-widget-header .ui-state-hover {
    background: none;
}
.ui-state-default {
    border: none !important;
    background: none !important;
}
.ui-icon-circle-triangle-w {
    background-position: -109px -19px;
    background-size: 295px;
}
.ui-icon-circle-triangle-e {
    background-position: -42px -19px;
    background-size: 295px;
}
.ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
    width: 25px;
}
.ui-datepicker th {
    font-family: "Neue Montreal";
}
.ui-datepicker a:hover {
    border: none;
}


#pricePerGallon, #totalAmtDue {
    font-family: "Neue Montreal";
    font-size: 19pt;
}


/* Pricing Module */

.pricing-field {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-field:first-of-type {
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: #6a6a6a 1px solid;
}

/* Tables */


/*Login*/
.loginbox{

    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: auto;
    margin-top: 125px;
}

.loginbox > h1 {

    font-weight: 500;
    margin-bottom: 20px;

}
.loginbox > form > h5 {

    margin-bottom: 5px;


}

.loginbox > form > input {    

    margin-bottom: 10px;
    height: 30px;
    background-color: white;
    width: 98%;
}

.loginbox > p {

    margin-top: 15px;
    font-size: 12px;

}

.login {

    background: #B6FF33;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 20px;
    border-color: #a88734 #9c7e31 #846a29;
}

.register {

    border-radius:  2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;


}

/*Registration*/

.name{
    
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    font-weight: 700;
    margin-bottom: 30px;
}

.firstname{
    
    position: relative;
    left: 200px;
    top: 10px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    
}

.lastname{
    
    position: relative;
    left: 480px;
    top: -34px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    
}

.company{
    
    margin-top: 20px;
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 180px;
    border-radius:6px;
    padding: 0 22px;
    font-size: 16px;
    
    
}

.email{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 180px;
    
}

.code{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 180px;
    
}

.line1{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22;
    font-size: 16px;
    width: 300px;
    
}
.line2{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22;
    font-size: 16px;
    width: 300px;
    margin-left: 20px
    
}

.city{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22;
    font-size: 16px;
    width: 200px;
    
}
.state{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22;
    font-size: 16px;
    width: 200px;
    
}

.zip{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22;
    font-size: 16px;
    width: 200px;
    
}

.login2 {
    
    position: relative;
    background: #B6FF33;
    border-radius: 2px;
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;   
    right: 620px;
    margin-top: 100px;
    
    
}

