form(method ="post" action="/profile")
    table 

        tr 
            td Fullname 
            td 
                input(type="text" name="fullname" required)
        tr 
            td  Street
            td 
                input(type="text" name="street" required)
        tr 
            td City 
            td 
                input(type="text" name="city" required)
        tr 
            td State
            td 
                input(type="text" name="state" required)
        tr 
            td Zip Code
            td 
                input(type="text", name="zip" required)
        tr 
            td 
            td 
                input(type="submit", value="Register")

